<header>
    <div class="container header">
        <div class="header__nav">
            <a class="header__burger">
                <img src="{{ url_for('static', filename='header/btn.svg') }}" alt="MENU">MENU
            </a>
            <div class="header__user-menu">
                {% if session.get('login') is none %}
                    <a href="/">Войти</a>
                    <a href="{{ url_for('register') }}">Регистрация</a>
                {% else %}
                    <a href="/">{{ user.nickname }}</a>
                    <a href="{{ url_for('logout') }}">Выход</a>
                {% endif %}
            </div>
        </div>
        <div class="header__logo">
            <a href="/">BIG SITE LOGOTIP</a>
        </div>
    </div>
</header>
<nav>
    <div class="container nav">
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="">Все видео</a>
        <a href="">Плейлисты</a>
        <a href="">Форум</a>
        <a href="">Об авторе</a>
    </div>
</nav>