header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid grey;
}
header .header__burger {
  cursor: pointer;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-main);
  text-transform: uppercase;
}
header .header__burger img {
  margin-right: 10px;
}
header .header__burger p {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.15rem;
}
header .header__user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__user-menu a {
  text-decoration: none;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-color);
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
header .header__user-menu a:hover {
  background: var(--nav-hover);
}
header .header__logo {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .header__logo a {
  font-size: 34px;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--nav-bg-color);
  color: var(--nav-text-color);
}
nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .nav a {
  text-transform: uppercase;
  padding: 17px;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  font-family: var(--font-main);
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
nav .nav a:hover {
  background: var(--nav-hover);
}