{% extends 'auth/index.html' %}

{% set title = 'Registration' %}

{% block content %}

<section class="register">
    <h1>Регистрация пользователя</h1>
    <form action="" method="post" id="regForm" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="tab">
            <h2>Шаг 1</h2>
            <div class="field">
                {{ form.useremail(size=32) }}
                <div class="status" id="email-check"></div>
            </div>
            <span class="hint">Поле проверяется на уникальность</span>
            <div class="field">
                {{ form.firstname(size=32) }}
                <div class="status" id="first-name-check"></div>
            </div>
            <span class="hint"></span>
            <div class="field">
                {{ form.surname(size=32) }}
                <div class="status" id="surname"></div>
            </div>
            <span class="hint"></span>
        </div>

        <div class="tab">
            <h2>Шаг 2</h2>
            <div class="field">
                {{ form.nickname(size=32) }}
                <div class="status" id="nickname-check"></div>
            </div>
            <span class="hint">Поле проверяется на уникальность</span>
            <div class="field">
                {{ form.password(size=40) }}
                <div class="status" id="password-check"></div>
            </div>
            <span class="hint">Только латинские символы более 8 шт.</span>
            <div class="field">
                {{ form.passRepeat(size=40) }}
                <div class="status" id="repeat-password-check"></div>
            </div>
            <span class="hint">Осуществляется проверка на совпадение</span>
        </div>

        <div class="tab">
            <h2>Шаг 3</h2>
            <div id="upload-container">
                <p>Загрузите изображения в формате png или jpg с помощью диалога выбора файлов. Рекомендуемое разрешение файла 150*150</p>
                {{ form.avatar }}
                <label class="button" for="avatar">Выбрать изображения</label>
            </div>
            <!-- {{ form.recaptcha }} -->
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn">Назад</button>
                <button type="button" id="nextBtn">Дальше</button>
                {{ form.submit() }}
            </div>
        </div>

        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>
</section>

<script>
    {% include 'auth/register/script.js' %}
</script>

{% endblock %}