{% extends 'auth/index.html' %}

{% set title = 'Registration' %}

{% block content %}

<section class="register">
    <form action="" method="post" id="regForm" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="tab">
            <h2>Шаг 1</h2>
            <div class="field">
                {{ form.useremail(size=32) }}
                <!-- <input type="email" name="email" id="email" placeholder="Введите электронную почту" required> -->
                <div class="status" id="email-check"></div>
            </div>
            <div class="field">
                {{ form.firstname(size=32) }}
                <!-- <input type="text" name="first-name" id="first-name" placeholder="Введите имя"> -->
                <div class="status" id="first-name-check"></div>
            </div>
            <div class="field">
                {{ form.surname(size=32) }}
                <!-- <input type="text" name="surname" id="surname" placeholder="Введите фамилию"> -->
                <div class="status" id="surname"></div>
            </div>
        </div>

        <div class="tab">
            <h2>Шаг 2</h2>
            <div class="field">
                {{ form.nickname(size=32) }}
                <!-- <input type="text" name="nickname" id="nickname" placeholder="Выберете никнейм"> -->
                <div class="status" id="nickname-check"></div>
            </div>
            <div class="field">
                {{ form.password(size=40) }}
                <!-- <input type="password" name="password" id="password" placeholder="Введите пароль"> -->
                <div class="status" id="password-check"></div>
            </div>
            <div class="field">
                {{ form.passRepeat(size=40) }}
                <!-- <input type="password" name="repeat-password" id="repeat-password" placeholder="Повторите пароль"> -->
                <div class="status" id="repeat-password-check"></div>
            </div>
        </div>

        <div class="tab">
            <h2>Шаг 3</h2>
            <div id="upload-container">
                <p>Загрузите изображения с помощью диалога выбора файлов</p>
                {{ form.avatar }}
                <!-- <input type="file" name="file" id="fileElem"> -->
                <label class="button" for="avatar">Выбрать изображения</label>
            </div>
            <!-- {{ form.recaptcha }} -->
        </div>

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn">Назад</button>
                <button type="button" id="nextBtn">Дальше</button>
            </div>
        </div>

        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>
</section>

<script>
    {% include 'auth/register/script.js' %}
</script>

{% endblock %}