.register {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.register form {
  max-width: 700px;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.register form input[type=text],
.register form input[type=email],
.register form input[type=password] {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}
.register form input[type=text].invalid,
.register form input[type=email].invalid,
.register form input[type=password].invalid {
  background-color: #ffdddd;
}
.register form .hint {
  margin-bottom: 10px;
  font-size: 13px;
  color: #585858;
}
.register form .tab {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.register form .tab .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.register form .tab .field .status {
  position: relative;
  margin-right: -8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.register form .tab #upload-container {
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
.register form .tab #upload-container.highlight {
  border-color: purple;
}
.register form .tab #upload-container p {
  margin-top: 0;
}
.register form .tab #upload-container #avatar {
  display: none;
}
.register form .tab #upload-container .button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-transition: background 0.15s ease;
  transition: background 0.15s ease;
}
.register form .tab #upload-container .button:hover {
  background: #ddd;
}
.register form button,
.register form input[type=submit] {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}
.register form button:disabled,
.register form input[type=submit]:disabled {
  background: grey;
}
.register form .step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  /* Mark the active step: */
  /* Mark the steps that are finished and valid: */
}
.register form .step.active {
  opacity: 1;
}
.register form .step.finish {
  background-color: #4CAF50;
}