:root {
  --color-light: #fff;
  --color-dark: #262D33;
  --color-black: #000;
  --nav-hover: rgba(0, 0, 0, 0.3);
  --nav-bg-color: var(--color-dark);
  --nav-text-color: var(--color-light);
  --text-color: var(--color-dark);
  --font-main: Arial;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1180px;
  width: 100%;
}
@media screen and (max-width: 910px) {
  .container {
    max-width: 880px;
  }
}
@media screen and (max-width: 880px) {
  .container {
    max-width: 580px;
  }
}
@media screen and (max-width: 446px) {
  .container {
    max-width: 280px;
  }
}